NODE_ENV=development
ROAMLINK_API_BASE_URL=http://localhost:3000
ROAMLINK_PUBLIC_API_URL=http://localhost:3000
DATABASE_URL=
REDIS_URL=
ADCOS_API_BASE_URL=
ADCOS_API_VERSION=
ADCOS_CLIENT_ID=
ADCOS_CLIENT_SECRET=
ADCOS_WEBHOOK_SECRET=
