NODE_ENV=development
ROAMLINK_API_BASE_URL=http://localhost:3000
ROAMLINK_PUBLIC_API_URL=http://localhost:3000
DATABASE_URL=
REDIS_URL=
ADCOOS_API_BASE_URL=
ADCOOS_API_VERSION=
ADCOOS_CLIENT_ID=
ADCOOS_CLIENT_SECRET=
ADCOOS_WEBHOOK_SECRET=
